.cont {
  position: relative;
  box-sizing: border-box;

  width: 100%;
  max-height: 100%;

  overflow: auto;

  .row {
    box-sizing: border-box;

    width: 100%;

    display: flex;
    flex-flow: row wrap;

    overflow: auto;

    .item {
      display: inline-block;
      box-sizing: border-box;

      padding: 36px 24px 36px 24px;

      width: 25%;
      height: 25%;
    }
  }
}

.cont > h1 {
  display: block;
  position: sticky;
  top: 0;
  width: inherit;
  box-sizing: border-box;
  font-size: 2em;
  margin: 0;
  padding: 0.5em 0.5em;
  background: $header;
}
